#
# Burn a boot firmware image onto the SPI ROM
#

interface bcm2835gpio

transport select jtag

set _CHIPNAME xc7a35t

# Raspi2 and Raspi3  peripheral_base address
bcm2835gpio_peripheral_base 0x3F000000

# Raspip 3B+ (oscope tuned)
bcm2835gpio_speed_coeffs 100000 5

# set as tck tms tdi tdo
bcm2835gpio_jtag_nums 4 17 27 22

bcm2835gpio_srst_num 24

reset_config none


adapter_khz 5000 

source [find cpld/xilinx-xc7.cfg]
source [find cpld/jtagspi.cfg]

init

jtagspi_init 0 bscan_spi_xc7a35t.bit
jtagspi_program firmware.bin 0x7b0000

xc7_program xc7.tap

exit
